.institucional {
  &__hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  &__hero-content {
    position: absolute;
    z-index: 20;
    width: 80%;
    top: 45%;
    left: 15px;
    
    @media (min-width: 1000px) {
      top: 50%;
      width: 655px;
      left: 50%;
      transform: translateX(-485px);
    }
  }

  &__hero-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    position: relative;
    margin-bottom: 25px;

    @media (min-width: 1000px) {
      font-size: 55px;
    }
  }

  &__hero-mouse {
    position: absolute;
    width: 30px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,.3);
    z-index: 10;
    bottom: 50px;
    left: calc(50% - 15px);
    transition: all .3s ease;

    &:hover {
      border: 2px solid rgba(255,255,255,1);
    }

    &:after {
      content: '';
      height: 4px;
      width: 4px;
      background: rgba(255,255,255,.9);
      border-radius: 50%;
      left: calc(50% - 2px);
      position: absolute;
      top: 10px;
      animation: fade 2s ease infinite;
    }
  }

  &__hero-next-section {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    z-index: 10;
    width: 100px;
    height: 20px;
    background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ededed' viewBox='0 0 100 20'%3E%3Cpath d='m50,0C34.5,0,14.5,17.5,0,20h100C85.5,17.5,65.5,0,50,0Z'/%3E%3C/svg%3E" );

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 2px solid #878787;
      border-right: 2px solid #878787;
      transform: rotate(135deg);
      position: absolute;
      left: 47px;
      bottom: 5px;
    }
  }

  &__about {
    padding-top: 60px;
    background: #ededed url('/assets/fondo-contratacion-2.png') no-repeat bottom right / 180%;
    min-height: 95vh;
    padding-bottom: 90%;
    
    @media (min-width: 700px) {
      background: #ededed url('/assets/fondo-contratacion-2.png') no-repeat top right / contain;
      padding-bottom: 0;
      position: relative;
    }
  }

  &__about-content {
    padding-inline: 15px;

    @media (min-width: 1000px) {
      width: 520px;
      position: absolute;
      left: 50%;
      transform: translateX(-485px);
      top: 33%;
      padding-inline: unset;
    }
  }

  &__about-title {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #4da234;

    &:after {
      bottom: -35px;
    }

    @media (min-width: 700px) {
      font-size: 26px;
    }
  }

  &__about-text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;

    @media (min-width: 700px) {
      letter-spacing: -0.2px;
      width: 92%;
      margin-bottom: 30px;
    }
  }
}